
# Exclude typescript source and config
*.ts
tsconfig.json

# Include javascript files and typescript declarations
!*.js
!*.d.ts

# Exclude jsii outdir
dist

# Include .jsii
!.jsii

test

.release-please-manifest.json
release-please-config.json
renovate.json

.eslintrc
.github
Makefile
.prettierrc
CHANGELOG.md
tsconfig*
*.tgz
lambda/*
!lambda/code.zip
.npm
publish_output.txt
