---
name: Test

concurrency:
  group: test
  cancel-in-progress: false

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    container:
      image: public.ecr.aws/jsii/superchain:1-bookworm-slim-node20

    steps:
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: .npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          set -euo pipefail
          make install
          (cd test && make install)
          sudo apt-get update
          sudo apt-get install -y tree

      - name: Deploy & Destroy
        run: cd test && make deploy DESTROY
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Build packages w/ jsii-pacmak
        run: |
          set -euo pipefail
          npx jsii-pacmak --verbose
          tree dist
